<div id="questionText" (mouseup)="invokeHighlights('view-lecture-article',$event)" (click)="clearHighlight()">
  <p> Isaac Newton was born on January 4, 1643, in Woolsthorpe, Lincolnshire, England. The son of a farmer who died
    three months before he was born, Newton spent most of his early years with his maternal grandmother after his mother
    remarried. His education was interrupted by a failed attempt to turn him into a farmer, and he attended the King’s
    School in Grantham before enrolling at the University of Cambridge’s Trinity College in 1661.

    Newton studied a classical curriculum at Cambridge, but he became fascinated by the works of modern philosophers
    such as René Descartes, even devoting a set of notes to his outside readings he titled “Quaestiones Quaedam
    Philosophicae” (“Certain Philosophical Questions”). When the Great Plague shuttered Cambridge in 1665, Newton
    returned home and began formulating his theories on calculus, light and color, his farm the setting for the supposed
    falling apple that inspired his work on gravity.
  </p>
  <p> Isaac Newton was born on January 4, 1643, in Woolsthorpe, Lincolnshire, England. The son of a farmer who died
    three months before he was born, Newton spent most of his early years with his maternal grandmother after his mother
    remarried. His education was interrupted by a failed attempt to turn him into a farmer, and he attended the King’s
    School in Grantham before enrolling at the University of Cambridge’s Trinity College in 1661.

    Newton studied a classical curriculum at Cambridge, but he became fascinated by the works of modern philosophers
    such as René Descartes, even devoting a set of notes to his outside readings he titled “Quaestiones Quaedam
    Philosophicae” (“Certain Philosophical Questions”). When the Great Plague shuttered Cambridge in 1665, Newton
    returned home and began formulating his theories on calculus, light and color, his farm the setting for the supposed
    falling apple that inspired his work on gravity.
  </p>
</div>

<p id="explanation" (mouseup)="invokeHighlights('view-lecture-article',$event)" (click)="clearHighlight()">
  Newton returned to Cambridge in 1667 and was elected a minor fellow. He constructed the first reflecting telescope in
  1668, and the following year he received his Master of Arts degree and took over as Cambridge’s Lucasian Professor of
  Mathematics. Asked to give a demonstration of his telescope to the Royal Society of London in 1671, he was elected to
  the Royal Society the following year and published his notes on optics for his peers.

  Through his experiments with refraction, Newton determined that white light was a composite of all the colors on the
  spectrum, and he asserted that light was composed of particles instead of waves. His methods drew sharp rebuke from
  established Society member Robert Hooke, who was unsparing again with Newton’s follow-up paper in 1675. Known for his
  temperamental defense of his work, Newton engaged in heated correspondence with Hooke before suffering a nervous
  breakdown and withdrawing from the public eye in 1678. In the following years, he returned to his earlier studies on
  the forces governing gravity and dabbled in alchemy.

  Isaac Newton and the Law of Gravity
  In 1684, English astronomer Edmund Halley paid a visit to the secluded Newton. Upon learning that Newton had
  mathematically worked out the elliptical paths of celestial bodies, Halley urged him to organize his notes. The result
  was the 1687 publication of “Philosophiae Naturalis Principia Mathematica” (Mathematical Principles of Natural
  Philosophy), which established the three laws of motion and the law of universal gravity. Newton’s three laws of
  motion state that (1) Every object in a state of uniform motion will remain in that state of motion unless an external
  force acts on it; (2) Force equals mass times acceleration: F=MA and (3) For every action there is an equal and
  opposite reaction.
  <!-- <img src="../assets/uworld-lp-logo.svg" height="100" width="100" /> -->
  “Principia” propelled Newton to stardom in intellectual circles, eventually earning universal acclaim as one of the
  most important works of modern science. His work was a foundational part of the European Enlightenment.

  With his newfound influence, Newton opposed the attempts of King James II to reinstitute Catholic teachings at English
  Universities. King James II was replaced by his protestant daughter Mary and her husband William of Orange as part of
  the Glorious Revolution of 1688, and Newton was elected to represent Cambridge in Parliament in 1689. Newton moved to
  London permanently after being named warden of the Royal Mint in 1696, earning a promotion to master of the Mint three
  years later. Determined to prove his position wasn’t merely symbolic, Newton moved the pound sterling from the silver
  to the gold standard and sought to punish counterfeiters.

  The death of Hooke in 1703 allowed Newton to take over as president of the Royal Society, and the following year he
  published his second major work, “Opticks.” Composed largely from his earlier notes on the subject, the book detailed
  Newton’s painstaking experiments with refraction and the color spectrum, closing with his ruminations on such matters
  as energy and electricity. In 1705, he was knighted by Queen Anne of England.

  Isaac Newton: Founder of Calculus?
  Around this time, the debate over Newton’s claims to originating the field of calculus exploded into a nasty dispute.
  Newton had developed his concept of “fluxions” (differentials) in the mid 1660s to account for celestial orbits,
  though there was no public record of his work. In the meantime, German mathematician Gottfried Leibniz formulated his
  own mathematical theories and published them in 1684. As president of the Royal Society, Newton oversaw an
  investigation that ruled his work to be the founding basis of the field, but the debate continued even after Leibniz’s
  death in 1716. Researchers later concluded that both men likely arrived at their conclusions independent of one
  another.

  Death of Isaac Newton
  Newton was also an ardent student of history and religious doctrines, and his writings on those subjects were compiled
  into multiple books that were published posthumously. Having never married, Newton spent his later years living with
  his niece at Cranbury Park near Winchester, England. He died in his sleep on March 31, 1727, and was buried in
  Westminster Abbey.

  A giant even among the brilliant minds that drove the Scientific Revolution, Newton is remembered as a transformative
  scholar, inventor and writer. He eradicated any doubts about the heliocentric model of the universe by establishing
  celestial mechanics, his precise methodology giving birth to what is known as the scientific method. Although his
  theories of space-time and gravity eventually gave way to those of Albert Einstein, his work remains the bedrock on
  which modern physics was built.
</p>

<div class="contextual-menu" id="contextualMenuSelection" [ngStyle]="{'display' : 'None'}">
  <!-- ng-style="{'top':cmSelectionProperties.top,'left':cmSelectionProperties.left, 'right':cmSelectionProperties.right,'display':cmSelectionProperties.display}"> -->
  <div>

    <button class="btn cmMenuBtnNew" (click)="addHighlight(1)">
      <i class="fal fa-highlighter"></i>
      Red
    </button>
    <button class="btn cmMenuBtnNew" (click)="addHighlight(2)">
      <i class="fal fa-highlighter"></i>
      Green
    </button>
    <button class="btn cmMenuBtnNew" (click)="addHighlight()">
      <i class="fal fa-highlighter"></i>
      Highlight
    </button>
    <button class="btn cmMenuBtnNew" (click)="showAnnotatorDialog()">
      <i class="fal fa-highlighter"></i>
      Annotation
    </button>
  </div>
</div>

<div id="annotatorDialog" class="mat-elevation-z8" [ngStyle]="{'display' : 'None','top':'0px'}">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea style="height: 75px;" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div>
      <button type="button" mat-flat-button (click)="closeAnnotatorDialog(true)">Cancel</button>
      <button type="button" mat-flat-button (click)="closeAnnotatorDialog(false)">Save</button>
    </div>
  </form>
</div>

<div>
  <button (click)="saveHighLights()">Save</button>
</div>